<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body style="background-color:#48d1cc">
<div class="container">
    <div class="row">
        <div>
            <img style="position: relative; display: inline-block; left: 50%; transform: translate(-50%);" src="{{ url_for('raw_feed') }}" width="50%" height="50%">
            <center><h3>Raw Feed</h3></center>
            <img style="position: relative; display: inline-block; left: 50%; transform: translate(-50%);" src="{{ url_for('mask_feed') }}" width="50%" height="50%"> 
            <center><h3>Mask Feed</h3></center>

        </div>
    </div>
</div>
</body>
</html>